<%= render 'shared/page_title', title: "Maak nieuw Stijl aan" %>

<%= render 'shared/errors', obj: @style %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @style do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      
      
      <%= f.submit 'Maak Stijl aan', class: "btn btn-succes" %>
      <% end %>
  </div>
</div>